In [2]:
import pandas as pd

In [181]:
df = pd.read_csv('adult.data.csv') # Read the csv

In [182]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [183]:
df['race'].describe() # get a feel of the data

count     32561
unique        5
top       White
freq      27816
Name: race, dtype: object

In [9]:
df['race'].unique() # get unique field names of race

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

#### Find the total number of each race

In [10]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

#### What is the average age of men

In [14]:
males = df.loc[df['sex'] == 'Male']
int(males['age'].mean())

39

#### What is the percentage of people who have a barchelors degree

In [23]:
total_rows = len(df)

In [24]:
total_bachelors_degree = len(df.loc[df['education'] == 'Bachelors'])

In [25]:
percentage = (total_bachelors_degree / total_rows) * 100

In [26]:
percentage

16.44605509658794

#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [184]:
ls = ['Bachelors', 'Masters', 'Doctorate']
df2 = df.query('education in @ls')

In [43]:
t_educated = len(df2.loc[df2['salary'] == '>50K'])

In [186]:
percentage_educated_with_pay = (t_educated / len(df2)) * 100

In [187]:
percentage_educated_with_pay

46.535843011613935

#### What percentage of people without advanced education make more than 50K?

In [188]:
df3 = df.query('education not in @ls')
lower_education = df3.loc[df3['salary'] == '>50K']

In [190]:
percentage_uneducated_with_pay = (len(lower_education) / len(df3)) * 100

In [191]:
percentage_uneducated_with_pay

17.3713601914639

#### What is the minimum number of hours a person works per week?

In [56]:
df['hours-per-week'].min()

1

#### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [129]:
eval = df.loc[df['hours-per-week'] == 1]
eval2 = df.loc[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')]

len(eval)
len(eval2)
(len(eval2)/len(eval)) * 100

10.0

#### What country has the highest percentage of people that earn >50K and what is that percentage?

In [192]:
per_country = df.loc[df['salary'] == '>50K']

In [72]:
per_country = per_country['native-country']

In [193]:
per_country_above50k = per_country.value_counts()

In [146]:
c_count = (df['native-country']).value_counts()
t_list = [c_count, per_country_above50k]

In [194]:
tester = pd.DataFrame(t_list)
tester = tester.T
tester.columns = ['total-count', 'rich-count']
tester['percentage-rich'] = (tester['rich-count'] / tester['total-count']) * 100
maximum = (tester['percentage-rich']).max()
h_country = (tester['percentage-rich']).idxmax()
h_country

'Iran'

#### Identify the most popular occupation for those who earn >50K in India.

In [114]:
ind = df.loc[(df['native-country']=='India') & (df['salary'] == '>50K')]
ind_occupations = ind['occupation'].value_counts()
pop_occc = ind_occupations.max()
df5 = ind_occupations.loc[ind_occupations == pop_occc]

In [116]:
df5.idxmax()

'Prof-specialty'